body{
background-color: rgb(2,0,36);
background-color:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,30,156,1) 35%, rgba(13,64,75,1) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#h1{
color: aliceblue;
}
.widthdiv{
    width: 1350px;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
